<div class="ui container">
  <h2>Record Tracker</h2>

  <nav 
    class="navbar sticky-top navbar-light bg-light"
    [ngClass]="signedIn$ ? 'navbar-expand-lg' : 'navbar-expand'">
    <div 
      class="container-fluid"
      [ngClass]="signedIn$ ? 'justify-content-between' : 'justify-content-end'">

      <div class="navbar-nav" *ngIf="!signedIn$">
        <a routerLink="signup" routerLinkActive="active" class="nav-link">Sign Up</a>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Sign In</a>
      </div>

      <div class="navbar-nav" *ngIf="signedIn$">
        <a 
          routerLink="/home" 
          (click)="isMenuCollapsed = true" 
          routerLinkActive="active" 
          class="nav-link">Home</a>
      </div>

      <button 
        *ngIf="signedIn$" 
        class="navbar-toggler" 
        type="button" 
        (click)="isMenuCollapsed = !isMenuCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div 
        *ngIf="signedIn$"
        class="collapse navbar-collapse"
        [ngbCollapse]="isMenuCollapsed">
        <a 
          routerLink="/onTheirWay" 
          routerLinkActive="active" 
          class="nav-link"
          (click)="isMenuCollapsed = true">On Their Way...</a>
        <a 
          routerLink="/preorders" 
          routerLinkActive="active" 
          class="nav-link"
          (click)="isMenuCollapsed = true">Preorders</a>
        <a 
          routerLink="/signout" 
          class="nav-link"
          (click)="isMenuCollapsed = true">Sign Out</a>
      </div>
    </div>
  </nav>

  <div class="ui segment">
      <router-outlet></router-outlet>
  </div>
</div>

